<div class="formulario">
    <form action="">
        <div class="titulo">
            <h1 style="color: var(--AzulTitle);">RECUPERAR<br>CONTRASEÑA</h1>
        </div>



        <div class="campos">

            <div class="input">

                <div class="row">                   
                    <div class="col">
                        <p-floatLabel>
                            <input pInputText type="email" id="correo" name="correo" [(ngModel)]="correo" autocomplete="false" />
                            <label for="correo">Correo</label>
                        </p-floatLabel>
                    </div>
                </div>

            </div>

            <br>
        </div>

        <div class="button">
            <p-button label="Recuperar" [style]="{'background':'var(--Azul)'}" [loading]="_loadingButton"
                (onClick)="load()" />
        </div>
        <br>
        <div class="button">
            <p-button label="Login" [outlined]="true" severity="contrast" (onClick)="redirect('')" />
        </div>
    </form>
</div>
<div class="fondo">
    <div class="logo">
        <img class="large-image" src="/assets/Images/Logo4.png" alt="">
    </div>

    <div class="mascara">
        <img class="large-image" src="/assets/Images/Gato1.jpg" alt="">
    </div>

    <div class="rotated-line2 position-line1 bgcoloramarillo">

    </div>

    <div class="cuadro bgcoloramarillo">

    </div>


    <div class="rotated-line position-line2  bgcoloramarillo">

    </div>

    <div class="rotated-line3 position-line3  bgcoloramarillo">

    </div>

</div>

<!-- MODAL DE NUEVA CONTRASEÑA -->
<p-dialog [(visible)]="mostrarDialog" header="Restablecer Contraseña" [modal]="true" [closable]="false">
    <div class="p-fluid">
      <div class="p-field">
        <p-floatLabel>
          <input pInputText type="password" id="nuevaContrasena" [(ngModel)]="nuevaContrasena" />
          <label for="nuevaContrasena">Nueva Contraseña</label>
        </p-floatLabel>
      </div>
    </div>
  
    <p-footer>
      <p-button label="Guardar" icon="pi pi-check" (onClick)="guardarNuevaContrasena()"></p-button>
      <p-button label="Cancelar" icon="pi pi-times" (onClick)="ocultarModal()" severity="secondary"></p-button>
    </p-footer>
  </p-dialog>