<div class="formulario">
    <form action="">
        <div class="titulo">
            <h1 style="color: var(--AzulTitle);">RECUPERAR<br>CONTRASEÑA</h1>
        </div>



        <div class="campos">

            <div class="input">

                <div class="row">                   
                    <div class="col">
                        <p-floatLabel>
                            <input pInputText type="email" id="correo" name="correo" autocomplete="false" />
                            <label for="correo">Correo</label>
                        </p-floatLabel>
                    </div>
                </div>

            </div>

            <br>
            <!-- <br>

            <div class="input">
                <label for="username">Usuario</label>
                <input pInputText type="email" id="username" name="username" aria-describedby="username-help" />
            </div>

            <br>

            <div class="input">
                <label for="username">Contraseña</label>
                <input type="text" name="fakepassword" id="fakepassword" style="display:none;">
                <input pInputText type="password" id="password" name="password" aria-describedby="password-help" autocomplete="new-password" />
            </div> -->
        </div>

        <div class="button">
            <p-button label="Recuperar" [style]="{'background':'var(--Azul)'}" [loading]="_loadingButton"
                (onClick)="load()" />
        </div>
        <br>
        <div class="button">
            <p-button label="Login" [outlined]="true" severity="contrast" (onClick)="redirect('')" />
        </div>
    </form>
</div>
<div class="fondo">
    <div class="logo">
        <img class="large-image" src="/assets/Images/Logo4.png" alt="">
    </div>

    <div class="mascara">
        <img class="large-image" src="/assets/Images/Gato1.jpg" alt="">
    </div>

    <div class="rotated-line2 position-line1 bgcoloramarillo">

    </div>

    <div class="cuadro bgcoloramarillo">

    </div>


    <div class="rotated-line position-line2  bgcoloramarillo">

    </div>

    <div class="rotated-line3 position-line3  bgcoloramarillo">

    </div>

</div>