.content{
    padding: 15px;
}


.relative .mx-auto{
    display: flex;
    justify-content: center;
}


.p-carousel .p-carousel-item {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100%;             
}

.p-carousel img {
    max-width: 100%; 
    height: 350px;
}


.p-carousel-prev, .p-carousel-next {
    svg {
        width: 3rem;
        height: 3rem; 
        color: var(--AzulTitle);
    }
}

.p-carousel-prev:hover, .p-carousel-next:hover {
    color: darkred !important; 
}

// .p-carousel img {
//     max-width: 50%;
//     height: auto;
// }



.container {
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  .datos-curiosos, .recomendaciones {
    background: #f9f9f9;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    color: #007BFF;
  }
  h3 {
    color: #555;
    margin-top: 15px;
  }
  p {
    color: #666;
    line-height: 1.6;
  }

  @media screen and (max-width: 768px) {
    .p-carousel img {
        max-width: 100%;
        height: auto;
    }
    .p-carousel .p-carousel-item {
        height: 100%;
    }
    .p-carousel-prev, .p-carousel-next {
        svg {
            width: 2rem;
            height: 2rem; 
        }
    }
    .p-carousel-prev:hover, .p-carousel-next:hover {
        color: darkred !important; 
    }
  }