<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="head-button">
    <p-button icon="pi pi-plus" severity="success" (click)="showDialog()" tooltipPosition="left"
        pTooltip="Asignar Tarjeta" class=""></p-button>
</div>
<!-- <div class="head-button-left">
    <p-button icon="pi pi-plus" severity="danger" (click)="showDialog()" tooltipPosition="left"
        pTooltip="Asignar Tarjeta" class=""></p-button>
</div> -->
<div class="card">
    <p-table #dt [value]="tarjetas" [customSort]="true">
        <ng-template pTemplate="header">
            <tr>
                <th class="center-text" pSortableColumn="code">
                    Id <p-sortIcon field="code" />
                </th>
                <th class="center-text" pSortableColumn="name">
                    Tarjeta <p-sortIcon field="name" />
                </th>
                <th class="center-text" pSortableColumn="quantity">
                    Estado <p-sortIcon field="quantity" />
                </th>
                <th class="center-text" pSortableColumn="quantity">
                    Acciones <p-sortIcon field="quantity" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tarjeta>
            <tr>
                <td class="center-text">{{ tarjeta.id }}</td>
                <td class="center-text">{{ tarjeta.numeroTarjeta }}</td>
                <td class="center-text">
                    @if (tarjeta.activo) {
                    <i class="pi pi-check-circle color-green"></i>
                    }
                    @else {
                    <i class="pi pi-times-circle color-red"></i>
                    }
                </td>
                <td class="center-text">
                    @if (tarjeta.activo) {
                    <p-button label="" icon="pi pi-trash" class="color-red" [text]="true"
                        (onClick)="updateEstate(tarjeta.id)" tooltipPosition="right" pTooltip="Eliminar Tarjeta" />
                    }
                    @else {
                    <p-button label="" icon="pi pi-trash" class="color-gray" [text]="true" disabled="true" />
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Agregar Tarjeta" [(visible)]="displayDialog" [modal]="true" [closable]="false">
    <div class="p-fluid">
        <div class="p-field">
            <label for="tarjetaId">ID Tarjeta</label>
            <input id="tarjetaId" type="text" pInputText [(ngModel)]="tarjeta">
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-check" [disabled]="tarjeta == ''" (click)="saveCard()"
            severity="success"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" (click)="closeDialog()" severity="danger"></p-button>
    </ng-template>
</p-dialog>