<div class="contendor">

    <div class="small-logo">
        <img class="small-image" src="/assets/Images/Logo2.png" alt="">
    </div>

    <div class="logo">
        <img class="large-image" src="/assets/Images/Logo1.png" alt="">
    </div>

    <div class="circle" style="z-index: 1;">
        <div class="circle1">
        </div>
        <div class="circle2">
        </div>
    </div>

    <div class="tarjeta">
        <form action="" class="formulario">

            <div class="titulo">
                <h1>LOGIN</h1>
            </div>



            <div class="campos">

                <div class="input">

                    <div class="">
                        <p-floatLabel>
                            <input pInputText id="user_pass" name="user_pass" autocomplete="false" />
                            <label for="user_pass">Usuario</label>
                        </p-floatLabel>
                    </div>
                </div>

                <br>
                <br>

                <div class="input">

                    <div class="user-pass">
                        <p-floatLabel>
                            <input [type]="_showPassword" pInputText id="password" name="password"
                                autocomplete="false" />
                            <label for="password">Contraseña</label>
                        </p-floatLabel>
                        <p-inputIcon [styleClass]="_showPassword === 'password' ? 'pi pi-eye' : 'pi pi-eye-slash'"
                            (click)="togglePassword()" />

                    </div>
                </div>
                <div style="text-align: end;">
                    <p style="color: var(--Azul); font-size: 12px; cursor: pointer;"
                        (click)="redirect('forgot-password')">Recuperar Contraseña</p>
                </div>
                <br>
            </div>

            <div class="button">
                <p-button label="Continuar" [style]="{'background':'var(--Azul)'}" [loading]="_loadingButton"
                    (onClick)="load()" />
            </div>
            <br>
            <div class="button">
                <p-button label="Regístrate" [outlined]="true" severity="contrast" (onClick)="redirect('register')" />
            </div>

        </form>
    </div>




</div>